.friend{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend .friend__avatar{
    width: 50px;
    border-radius: 37%;

}

.friend__avatar.g-avatar{
    width: 70px;
}

.friend__avatar.m-avatar{
    width: 60px;
}

.friend .friend__column{
    display: flex;
    align-items: center;
}

.friend .friend__avatar{
    margin-right: 15px;
    
}
.friend__column .friend__badge{
    margin-top: 10px;
}
.column__sub-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;    
}
.friend__content .friend__name{
    display: block;
    margin-bottom: 5px;

    
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp{
    opacity: 0.6;
}
.friend__content .friend__bottom-text{
    font-size: 14px;
    
}
.friend__content .friend__status,
.friend .chat__timestamp{
    font-size: 12px;
}

.friend__add-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-radius: 5px;
}

.chats__chat{
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f7f7f7;
    transition: all 0.3s ease-in-out;
    transform: translateX(0%);
    width: 100%;
}
.chats__chat:hover{
    border-bottom: 1px solid #bebebe;
    width: 108%;
    box-shadow: 0 18px 36px -18px rgba(0,0,0,0.3);
    transform: translateX(-4%);    
}